body {
    background-color: #74AFAD;
    text-align: center;
}
#container {  
  position: relative;
  margin: auto;

  width: 971px;
  height: 1207px; 
  margin-top: 10px;
}
.my_image {
  float:left;
  position: relative;
  padding:0;
  width: 153.5px  ;
  height: 188px;
  border: 2px solid black;
  margin-right: 2.5px;
  margin-left: 2.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  object-fit: fill;

}

h1 {
    text-align: center;
    margin-top:0px;
    color: white;
}

.my_image:hover {   
    border-color: #D9853B;
    cursor: pointer;
}

h3 {
    color: white;
    float:right;
    font-size: 150%;
}
#turn {
    display:inline;
    margin-left: 10px;
    margin-right: 10px;
}
#score {
    display:inline;
    margin-left: 10px;
    margin-right: 10px;
}